/*  JavaScript 6th Edition
    Chapter 8
    Hands-on Project 8-3

    Filename: styles.css
*/

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   width: 800px;
   margin: 0 auto;
   background: white;
   font-family: Verdana, Geneva, sans-serif; 
}

ol, ul {
   list-style: none;
}

blockquote, q {
   quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

a:link, a:visited {
   text-decoration: none;
   color: inherit;
}

a:hover {
   text-decoration: none;
   color: inherit;
}

a:active {
   text-decoration: none;
   color: inherit;
}

/* page header */
header {
   background: #5472B2;
   width: 100%;
   color: #FFFFFF;
   font-size: 48px;
   text-align: center;
   line-height: 1.5em;
}

/* main content */
article {
   width: 800px;
   text-align: left;
   background: #FFDB70;
   overflow: auto;
   border: 2px solid #5472B2;
}

article h2 {
   font-weight: bold;
   font-size: 24px;
   padding: 10px;
}


/* form */
form {
   width: 640px;
   margin: 0 auto;
}

fieldset {
   position: relative;
   padding: 5px 30px 70px 30px;
   background: white;
   margin-left: 15px;
   margin-right: 15px;
}

legend {
   font-weight: bold;
   font-size: 24px;
   position: absolute;
   padding: 10px 0;
}

input, label, select {
   position: relative;
   top: 50px;
   line-height: 1.2em;
   margin-bottom: 10px;
}

#expMoLabel, #expYrLabel {
   position: absolute;
   left: -10000px;
}

div.offset label {
   width: 8em;
   text-align: right;
   float: left;
   clear: left;
   margin-right: 10px;
   margin-top: 5px;
}

fieldset.text input, fieldset.text select {
   margin-top: 5px;
   margin-right: 5px;
}

#exp label, #exp input, #exp select, #exp div {
   display: inline-block;
   float: none;
   clear: none;
   text-align: center;
   width: auto;
}

#exp option {
   text-align: left;
}

#ccNum {
   width: 16em;
}

#cvv {
   width: 4em;
}
